rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // User Uploads Directory
    match /uploads/{userId}/{allPaths=**} {
      // Allow read/write only if the authenticated user's ID matches the folder name
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Deny access to all other storage paths by default
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
